name: web-memo

volumes:
  postgres-storage:

networks:
  app-tier:

services:
  postgres:
    image: postgres:18-trixie
    networks:
      app-tier:
    ports:
      - ${POSTGRES_PORT}:5432
    restart: unless-stopped
    volumes:
      - postgres-storage:/var/lib/postgresql
      - ./scripts/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh:ro
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      APP_DB_NAME: ${APP_DB_NAME}
      APP_DB_USER: ${APP_DB_USER}
      APP_DB_PASSWORD: ${APP_DB_PASSWORD}

  redis:
    image: redis:8
    networks:
      app-tier:
    ports:
      - ${REDIS_PORT}:6379
    restart: unless-stopped
