@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove bullet points and indentation from checkbox list items */
.prose li:has(> input[type='checkbox']) {
  list-style: none;
}

.prose ul:has(> li > input[type='checkbox']) {
  padding-left: 0;
}
