@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove bullet points from checkbox list items only */
.prose li:has(> input[type='checkbox']) {
  list-style: none;
  margin-left: -1.5rem; /* Compensate for ul padding to align checkbox to left edge */
}
