wire:
  initialize-timeout: 10s
  shutdown-timeout: 10s
log:
  format: text # text / json
  level: debug # debug / info / warn / error
  caller: true
  component: webmemo-api
trace:
  enabled: false
  service-name: webmemo-api
  sampling-ratio: 0.1
  otlp-grpc-endpoint: localhost:4317
http:
  port: 8412
postgres:
  host: localhost
  port: 28100
  user: admin
  password: admin123123
  database: web_memo
  query-log: false
redis:
  addr: localhost:28200
  password: webmemooo
google:
  endpoints:
    token: https://oauth2.googleapis.com/token
    oauth: https://accounts.google.com/o/oauth2/v2/auth
  oauth:
    client-id: <oauth_client_id>
    client-secret: <oauth_client_secret>
jwt:
  expiration: 720h
  active-key-pair: v1
  key-pairs:
    - name: v1
      private: <private_key>
      public: <public_key>
oauth:
  state-timeout: 10m
  callback-path: /api/v1/google/sign-in/finish
cron:
  tag-cleanup-interval: 10m
imageer:
  base-url: <imageer_base_url>
  api-key: <imageer_api_key>
  project-id: <imageer_project_id>
  downscale-preset-name: downscale-85
