wire:
  initialize-timeout: 10s
  shutdown-timeout: 10s

log:
  format: text # text / json
  level: debug # debug / info / warn / error
  caller: true
  component: webmemo-api

trace:
  enabled: false
  service-name: webmemo-api
  sampling-ratio: 0.1
  otlp-grpc-endpoint: localhost:4317

web:
  port: 8412
  show-openapi-docs: true

postgres:
  host: localhost
  port: 28100
  user: admin
  password: admin123123
  database: web_memo
  query-log: false

redis:
  addr: localhost:28200
  password: webmemooo

google:
  endpoints:
    token: https://oauth2.googleapis.com/token
    oauth: https://accounts.google.com/o/oauth2/v2/auth
  oauth:
    client-id: <oauth_client_id>
    client-secret: <oauth_client_secret>

jwt:
  expiration: 720h
  active-key-pair: v1
  key-pairs:
    - name: v1
      private: <private_key>
      public: <public_key>

oauth:
  state-timeout: 10m
  callback-path: /api/v1/google/sign-in/finish

cron:
  tag-cleanup-interval: 10m
  embedding-sync-interval: 1h

imageer:
  base-url: <imageer_base_url>
  api-key: <imageer_api_key>
  project-id: <imageer_project_id>
  downscale-preset-name: downscale-85

embedding:
  enabled: false
  tei-base-url: http://localhost:28080
  bm25-base-url: http://localhost:28081
  qdrant-host: localhost
  qdrant-port: 28400
  qdrant-collection-name: memo_chunks
  job-buffer-size: 10
  min-search-score-threshold: 0.1
  max-search-results: 20
