name: Run tests

on:
  pull_request:

jobs:
  test-api:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26
      - name: Display Go version
        run: go version
      - name: Run tests
        working-directory: ./api
        run: make test

  test-backup:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26
      - name: Display Go version
        run: go version
      - name: Run tests
        working-directory: ./backup
        run: make test
